<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="titlePage">@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PL.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://kit.fontawesome.com/da829a2c90.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navHeader" id="navHeader">
            <div class="container-fluid navHeader">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logoLaudexHeader" src="https://fintechfuturo.com/wp-content/uploads/2023/08/laudex.svg" alt="laudex"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" id="linksLogout">
                        <li class="nav-item">
                            <a class="nav-link text-dark itemLink" data-title="Login" asp-area="" asp-controller="Usuario" asp-action="Login">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark itemLink" data-title="Register" asp-area="" asp-controller="Usuario" asp-action="Register">Register</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-1" id="linksLogin">
                        <li class="nav-item">
                            <a class="nav-link text-dark itemLink" data-title="Task" asp-area="" asp-controller="Usuario" asp-action="Task">My tasks</a>
                        </li>
                    </ul>
                  
                    <div class="containerUserLogin" id="containerUserLogin">

                        <p><strong><em id="nameUserLoged">@@ejoramirez23</em></strong></p>
                        <span title="Logout" id="logout"> Logout <i class="fa-solid fa-right-from-bracket"></i></span>
                        
                    </div>
              
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PL - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">


        // await validarSession();


        async function validarSession() {


            if (localStorage.getItem("account") !== null) {


                location.href = '@Url.Action("Task")';

            }

        }

    
        const logout = document.getElementById("logout");

        async function removeSession() {

            localStorage.removeItem("account");

        }

        logout.addEventListener("click", async () => {
            await removeSession();

            location.href = '@Url.Action("Login")';

        });




        const titlePage = document.getElementById("titlePage").textContent;


        const linksHeader = document.querySelectorAll(".itemLink");


        linksHeader.forEach((link) => {
            if (link.dataset.title === titlePage) {
                link.classList.add("aLinkHeader");
            }
        })




        const linksLogout = document.getElementById("linksLogout");
        
        const linksLogin = document.getElementById("linksLogin");

        const containerUserLogin = document.getElementById("containerUserLogin");

        const nameUserLoged = document.getElementById("nameUserLoged");


        if (localStorage.getItem("account") === null) {
     
            linksLogin.classList.add("visibleHidden");
            containerUserLogin.classList.add("visibleHidden");
            
        }else{

            let sessionObject = JSON.parse(localStorage.getItem("account"));

            linksLogout.classList.add("visibleHidden");
            nameUserLoged.textContent = `@@${sessionObject.nombre}`;

        }





    
    </script>
    @await RenderSectionAsync("Scripts", required: false)





</body>
</html>
